.toTop {
  position: absolute;
  margin: 0;
  cursor: pointer;
  right: 15px;
  padding: 1px 1px 3px 2px;
  color: $font_color;
  background: #00000086;
  bottom: 8%;
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}