#article_footer {
  padding: 0px 25px 15px 25px;
  .article_tag_icon {
    color: $font_color;
    font-size: 20px;
    line-height: 18px;
    float: left;
    margin: 5px;
  }
  .article_tag_list{
    float: left;
    margin: 0;
    padding: 0;
    .article_tag_list_item{
      position: relative;
      float: left;
      list-style: none;
    }
  }
  .article_show_all{
    cursor: pointer;
    background: #258fb8;
    height: 18px;
    border-radius: 2px;
    padding:3px  10px  3px 10px;
    margin: 0;
    float: right;
    font-size: 10px;
    color:white;
    transition: background 1s;
  }
  .article_show_all:hover{
    background: none;
    color:  $font_color;
  }
}