#article_footer {
  padding: 0px 25px 15px 25px;
  .article_tag_icon {
    color: $font_color;
    font-size: 20px;
    line-height: 18px;
    float: left;
    margin: 5px;
  }
  .article_tag_list{
    float: left;
    margin: 0;
    padding: 0;
    .article_tag_list_item{
      position: relative;
      float: left;
      list-style: none;
    }
  }
}