#app {
  // font-family: "Avenir", Helvetica, Arial, sans-serif;
  // font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  overflow:hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @import "./variable.scss";
  @import './mixin.scss';
  @import './transition.scss';
  @import "./components/article/index.scss";
  @import "./components/layout/index.scss";
  @import "./components/labelList/index.scss";
  @import "./components/Pagination/index.scss";
  @import './components/comment/index.scss';
  @import './components/scrollTop/index.scss';
  @import './components/table/index.scss';
  
  
  @import "./view/app/articleDetails/index.scss";
  @import "./view/app/overview/index.scss";
  @import './view/login/index.scss';
  @import './view/manage/articleManage/createArticles/index.scss';
  @import './view/manage/articleManage/previewArticles/index.scss';
  pre {
    border-radius: 5px;
  }
}
