#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //文字不可选中
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @import "./variable.scss";
  @import "./components/article/index.scss";
  @import "./components/layout/index.scss";
  @import "./components/tagList/index.scss";
  @import "./components/Pagination/index.scss";
  @import './components/comment/index.scss';

  
  @import "./view/app/articleDetails/index.scss";
  @import "./view/app/overview/index.scss";

  pre {
    border-radius: 5px;
  }
  // 自定义右侧滚动条
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar-button:start:increment,
  ::-webkit-scrollbar-button:end:decrement {
    display: none;
  }
  ::-webkit-scrollbar-corner {
    display: block;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  ::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
