$font_color:#999999; // 博客前台字体颜色
$background:#3f3f3f; //博客前台 背景色
$blue:#258fb8; // 博客前台主题色
$light_gray:#F0F0F0;//博客后台 table 表头背景色 #a5a0a052 #F0F0F0
$yellow:#FFC23F;//添加按钮背景色
$black:#606266;// manage 字体颜色