@media (min-width: 768px) {
  #Navigation {
    float: left;
    width: 300px;
    height: 100%;
    background: url('/static/img/Layout/Navigation/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-align: center;
    position: relative;
    .Navigation_mask {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      position: absolute;    
      opacity: 0.7;
      z-index: 0;
    }

    .Navigation_content {
      height: 65%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .headImg {
      z-index: 1;
      width: 40%;
      border-radius: 50%;
      border: white 1px solid;
    }
    @import "./navigation_select.scss";
    @import "./navigation_menu.scss";
    @import "./navigation_tag.scss";
  }
}
@media (max-width: 768px) {
  #Navigation {
    background: white;
    height: 50px;
  }
}
