@font-face {
  font-family: "wood";
  src: url("/static/font/木头字体/木头字体.woff2") format("woff2"),
    url("/static/font/木头字体/木头字体.woff") format("woff"),
    url("/static/font/木头字体/木头字体.ttf") format("truetype"),
    url("/static/font/木头字体/木头字体.eot") format("embedded-opentype"),
    url("/static/font/木头字体/木头字体.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
