@import './font.scss';
#app {
  #app_layout,
  #manage_layout {
    display: none;
  }
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/static/img/background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  &:before {
    content: "手机端正在开发中";
    font-family: "wood";
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    margin: auto;
  }
  &:after{
    content: "请先使用pc端访问";
    font-family: "wood";
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    margin: auto;
  }
}
