#Pagination{
  @import './item.scss';
  @import './next.scss';
  @import './prev.scss';
  text-align: center;
  //文字不可被选中
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}