#Navigation_select {
  position: relative;
  width: 100%;
  .switch_icon {
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
    // padding: 3vw;
    background: white;
    border-radius: 50%;
    img {
      margin-top: 10%;
      height: 80%;
    }
  }
  .selectOption::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: -1;
    margin: auto;
    left: 0;
    right: 0;
    transform: rotate(45deg);
    background: black;
  }
  .selectOption {
    position: absolute;
    width: 30%;
    z-index: 1;
    border-radius: 5px;
    background: black;
    color: white;
    margin: auto;
    top: 3vw;
    left: 0;
    right: 0;
    p {
      margin: 0;
      padding: 10px;
      border-radius: 5px;
    }
    p:hover {
      background: greenyellow;
      border-radius: 5px;
    }
  }
}