  // 文章头部
  #article_overview_head {
    border-left: rgba(63, 63, 63, 0) 5px solid;
    @include clearfix;
    .article_overview_title {
      cursor: pointer;
      color: $font_color;
      font-weight: initial;
      line-height: 35px;
      margin-bottom: 20px;
      text-align: left;
      font-size: 26px;
      width: 50%;
      float: left;
      margin: 0;
    }
    .article_overview_time {
      color: $font_color;
      width: 120px;
      float: right;
      margin-right: 10px;
      .article_overview_time_icon {
        font-size: 25px;
        padding: 5px 0;
        float: left;
      }
      .article_overview_time_text {
        font: {
          size:15px;
          weight:initial;
        }
        line-height: 35px;
        float: left;
         margin: 0 5px;
  
      }
    }
    .article_overview_title:hover {
      color: white;
    }
  }