#article_overview_footer {
    //文字不可被选中
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  .article_overview_tag_icon {
    color: $font_color;
    font-size: 20px;
    line-height: 18px;
    float: left;
    margin: 5px;
  }
  .article_overview_show_all{
    cursor: pointer;
    background: #258fb8;
    height: 18px;
    border-radius: 2px;
    padding:3px  10px  3px 10px;
    margin: 0;
    float: right;
    font-size: 10px;
    color:white;
    transition: background 1s;
  }
  .article_overview_show_all:hover{
    opacity: 0.5;
    // background: none;
    // color:  $font_color;
  }
}