#article_footer {
  padding: 0px 25px 15px 25px;
  .article_tag_icon {
    color: $font_color;
    font-size: 20px;
    line-height: 18px;
    float: left;
    margin: 5px;
  }
  .article_tag_list{
    float: left;
    margin: 0;
    padding: 0;
    .article_tag_list_item{
      position: relative;
      float: left;
      list-style: none;
    }
  }
  .article_tag{
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 0 5px 0px 10px;
    position: relative;
    border-radius: 0 5px 5px 0;
    margin: 5px 9px 5px 8px;
    background: #e23794;
  }
  .article_tag::before{
    content: " ";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: -18px;
    border: 9px solid transparent;
    border-right-color: #e23794;
  }
  .article_tag:after{
    content: " ";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
    position: absolute;
    top: 7px;
    left: 2px;
  }
}