#manage_layout {
  width: 100%;
  height: 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  $transition_time:0.3s;
  $sidebar_width: 36px;
  $sidebar_collapse_width: 200px;
  $navbar_height:50px;
  @import './Navigation-sidebar.scss';
  @import './Navigation_navbar.scss';
  @import './Manage-main.scss';
  @include No-Scrollbar;
  .manage_layout_main_collapse,.manage_layout_main{
    height: 100%;
    -webkit-transition: margin-left  $transition_time;
    transition: margin-left $transition_time;
  }
  .manage_layout_main_collapse{
    margin-left: $sidebar_collapse_width;
  }
  .manage_layout_main{
    margin-left: $sidebar_width;
  }
}
