.Navigation_navbar{
  background: white;
  height: $navbar_height;
  .manage_menu,.manage_menu_collapse{
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
    transform:rotate(0deg);
    transition: transform 0.4s;
  }
  .manage_menu_collapse{
    transform:rotate(90deg);
  }
}