.Navigation_sidebar {
  float: left;
  height: 100%;
  @include  No-Scrollbar;
  .Navigation_menu {
    height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .Navigation_menu:not(.el-menu--collapse) {
    width: 200px;
  }
}
.Navigation_navbar {
  float: left;
}
